.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checkout__left{
    width: 70%;
    position: absolute;
    overflow-x: hidden;
}
.checkout_ad{
    width: 100%;
    margin-bottom: 10px;
    /* height: 20vh; */
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}